[core]
	preloadindex = true
	excludesfile = ~/.gitignore
	pager = diff-so-fancy | less --tabs=4 -RFX
	whitespace = trailing-space,space-before-tab,indent-with-non-tab
	autocrlf = input
	editor = vim
[color]
	ui = true
	branch = auto
	diff   = auto
	status = auto
[color "diff-highlight"]
	oldNormal    = red bold
	oldHighlight = red bold 52
	newNormal    = green bold
	newHighlight = green bold 22
[color "diff"]
	commit     = yellow bold
	meta       = 11
	frag       = magenta bold
	old        = red bold
	new        = green bold
[diff]
	tool      = vimdiff
	algorithm = histogram
	compactionHeuristic = true
[alias]
	co    = checkout
	st    = status
	br    = branch
	graph = log --graph --date-order --all --pretty=format:'%h %Cred%d %Cgreen%ad %Cblue%cn %Creset%s' --date=short
[help]
	autocorrect = 0
[alias]
        patch = !git --no-pager diff --no-color
[pager]
        diff = diff-so-fancy | less --tabs=4 -RFX --pattern '^(Date|added|deleted|modified): '
[include]
	path = ~/.gitconfig.local
[pack]
	threads = 0
[apply]
	whitespace = fix
[push]
	default = simple
[commit]
	template = ~/.gitmessage
[credential]
	helper = osxkeychain
[gpg]
	program = gpg
[pull]
	rebase = true
