# Disable Annoying Visual And Audible Bell
set bell-style none

# Display possible completions using different colors, add a char to denote type
set colored-stats on
set visible-stats on
set mark-symlinked-directories on

# Perform file completion in a case insensitive fashion, treat _ and - as equivalent
set completion-ignore-case on
set completion-map-case on

# Display matches for ambiguous patterns at first tab press
set show-all-if-ambiguous on
set show-all-if-unmodified on
set expand-tilde on

# Enable incremental history search with up/down arrows (also Readline goodness)
# http://codeinthehole.com/writing/the-most-important-command-line-tip-incremental-history-searching-with-inputrc/
# http://www.ukuug.org/events/linux2003/papers/bash_tips/
"\e[A": history-search-backward
"\e[B": history-search-forward
"\e[C": forward-char
"\e[D": backward-char
